openapi: 3.2.0
info:
  title: Yr No Metadata API
  contact:
    name: Developer Support
    url: https://developer.yr.no/
    email: weatherapi-adm@met.no
  license:
    name: CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/
  termsOfService: https://developer.yr.no/doc/TermsOfService/
  version: '1.0'
  description: 'Operations tagged metadata across 5 of this provider''s published API definitions: yr-no-locationforecast-openapi.yml, yr-no-metalerts-openapi.yml, yr-no-nowcast-openapi.yml, yr-no-oceanforecast-openapi.yml, yr-no-sunrise-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.met.no/weatherapi/locationforecast/2.0
  description: MET Norway Locationforecast API
- url: https://api.met.no/weatherapi/metalerts/2.0
  description: MET Norway MetAlerts API
- url: https://api.met.no/weatherapi/nowcast/2.0
  description: MET Norway Nowcast API
- url: https://api.met.no/weatherapi/oceanforecast/2.0
  description: MET Norway Oceanforecast API
- url: https://api.met.no/weatherapi/sunrise/3.0
  description: MET Norway Sunrise API
tags:
- name: Metadata
  description: Service metadata endpoints
paths:
  /status:
    get:
      tags:
      - Metadata
      operationId: getForecastStatus
      summary: Operational status of the forecast model
      description: Returns the current operational status of the Locationforecast model.
      responses:
        '200':
          description: Status information
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: string
        '500':
          description: Internal Server Error
    servers:
    - url: https://api.met.no/weatherapi/locationforecast/2.0
      description: MET Norway Locationforecast API
  /changelog:
    get:
      tags:
      - Metadata
      operationId: getChangelog
      summary: RSS feed of product changes
      description: Returns an RSS feed listing changes and updates to this product.
      responses:
        '200':
          description: RSS changelog feed
          content:
            application/rss+xml:
              schema:
                type: string
    servers:
    - url: https://api.met.no/weatherapi/locationforecast/2.0
      description: MET Norway Locationforecast API
  /healthz:
    get:
      tags:
      - Metadata
      operationId: healthCheck
      summary: Health check
      description: Check the health status of the Locationforecast service.
      responses:
        '200':
          description: Service is healthy
          content:
            text/plain:
              schema:
                type: string
    servers:
    - url: https://api.met.no/weatherapi/locationforecast/2.0
      description: MET Norway Locationforecast API
  /schema:
    get:
      tags:
      - Metadata
      operationId: getSchema
      summary: OpenAPI schema
      description: Returns the OpenAPI/JSON Schema for the forecast data structures.
      responses:
        '200':
          description: Schema document
          content:
            application/json:
              schema:
                type: object
    servers:
    - url: https://api.met.no/weatherapi/locationforecast/2.0
      description: MET Norway Locationforecast API
  /locations:
    get:
      tags:
      - Metadata
      operationId: listLocations
      summary: List available locations
      description: Returns a GeoJSON FeatureCollection of pre-defined locations.
      responses:
        '200':
          description: GeoJSON FeatureCollection of locations
          content:
            application/json:
              schema:
                type: object
    servers:
    - url: https://api.met.no/weatherapi/locationforecast/2.0
      description: MET Norway Locationforecast API
  /values:
    get:
      tags:
      - Metadata
      operationId: getAlertValues
      summary: List allowed parameter values
      description: Returns allowed values for query parameters such as event types.
      responses:
        '200':
          description: Allowed parameter values
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal Server Error
    servers:
    - url: https://api.met.no/weatherapi/metalerts/2.0
      description: MET Norway MetAlerts API
x-refined-from:
- yr-no-locationforecast-openapi.yml
- yr-no-metalerts-openapi.yml
- yr-no-nowcast-openapi.yml
- yr-no-oceanforecast-openapi.yml
- yr-no-sunrise-openapi.yml
